.qualities-list{
    margin-top:20px;
    display: flex;
    justify-content: center;
    gap:40px;
    margin-bottom: 40px;
    .quality-box{
        width:334px;
        border-radius: 10px;
        height:430px;
        .box-p-one{
            margin-top:15px;
            margin-left: 20px;
            font-weight: 900;
            font-size:14px;
        }
        h2{
            margin-left:20px;
            margin-top:30px;
        }
        .box-p-two{
            margin-left: 20px;
            margin-top: 240px;
            font-size: 14px;
            width:250px;
        }
    }
    .quality-box__one{
        background-color:rgba(122, 51, 51, 0.425);
        .box-p-one{
            color:rgb(122, 51, 51);
        }
        h2{
            color:rgb(73, 36, 36);
        }
        .box-p-two{
            color:rgb(122, 51, 51);
        }
    }
    .quality-box__two{
        background-color: rgba(0, 0, 255, 0.425);
        .box-p-one{
            color:rgb(6, 6, 153);
        }
        h2{
            color:rgb(5, 5, 94);
        }
        .box-p-two{
            color:rgb(6, 6, 153);
        }
    }
    .quality-box__three{
        background-color:rgba(0, 128, 0, 0.425);
        .box-p-one{
            color: rgb(3, 88, 3);
        }
        h2{
            color: rgb(2, 58, 2);
        }
        .box-p-two{
            color: rgb(3, 88, 3);
        }
    }
    .quality-box__four{
        background-color:rgba(255, 166, 0, 0.425);
        .box-p-one{
            color: rgb(170, 113, 6);
        }
        h2{
            color: rgb(104, 73, 15);
        }
        .box-p-two{
            color: rgb(170, 113, 6);
        }
    }
}