*{
    margin:0;
}
.under-header{
    width:100%;
    flex-direction: row;
    display: flex;
    align-items: center;
      // FIXME : change width or margin-left because its too long, maybe change the margin inside of the div
    margin-top:18px;
    h1{
        font-size:32px;
        color:orange;
        margin-top:10px;
        margin-left:198px;
    }
    .under-header-icons{
        width:100%;
        display:flex;
        justify-content: end;
        margin-right:460px;
        align-items: center;
        font-size:12px;
        gap:50px;
        margin-top:25px;
        font-weight:900;
        .wishlist{
            display:flex;
            flex-direction: column;
            height:40px;
            align-items: center;
            justify-content: center;
          p{
            opacity: .7;
            margin-top:1px;
          }
        }
        .profile{
            display:flex;
            flex-direction: column;
            height:40px;
            align-items: center;
            justify-content: center;
            p{
                margin-top:-3px;
                margin-bottom:6px;
                opacity: .7;
            }
        }
       
    }
}